#################
## Specific
#################
/IHM/images/originaux
/IHM/images/plan_camping.png
/IHM/template/archive
/IHM/template
/Model/tmp/*
/install
/outils
/perso

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


# Mac crap
.DS_Store
