@CHARSET "ISO-8859-1";

/* Boutons */
#boutonPlanningReservation span.ui-icon {
	margin: 0 0 0 0.6em;
}
#boutonPlanningReservation span {
	display: inline-block;
}
#boutonImprimerEmplacements img {
	cursor: pointer;
	margin: 10px 0 -15px 40px;
}

/* Plan */
#planCamping {
	height: 530px;
	left: 9px;
	position: absolute;
	top: 75px;
	width: 1166px;
}

/* Blocs d'emplacement */
.bloc-emplacement {
	border-radius: 15px;
	cursor: pointer;
	height: 2.1em;
	position: absolute;
	width: 110px;
}
.bloc-emplacement span.text-bloc-emplacement {
	display: block;
	height: 1.3em;
	margin-top: 0.4em;
	margin-left: 5px;
	overflow: hidden;
	width: 100px;
}
.bloc-tarif1 {background-color: #459e00;}
.bloc-tarif2 {background-color: #F6A828;}
.bloc-tarif3 {background-color: #DD0000;}
.pancarte-emplacement {
	height: 64px;
	margin: -50px 0 0 -25px;
    position: absolute;
    width: 64px;
}
.pancarte-emplacement div {
	font-size: 1.5em;
	margin: -55px 0 0 15px;
	text-align: center;
	width: 1.4em;
}
#emplacementRoulotteRouge, #emplacementRoulotteBleue, #emplacementTenteSafari {text-align: center;}
#emplacementRoulotteRouge {top: 298px; left: 118px;}
#emplacementRoulotteBleue {top: 385px; left: 125px;}
#emplacementTenteSafari {top: 225px; left: 125px;}